<div id="follow-container">
  <div id="follow-feed">
    <h1>@<%= @user.username %>'s followers</h1>
    <% @user.followers.each do |follower| %>
      <div class="follow-stats">
        <h1><%= link_to "@" + follower.username, follower %></h1>
        <% if follower.id == session[:user_id] %>
          <p><span class="label label-primary">This is your profile</span></p>
        <% else %>
          <% if current_user %>
            <% if current_user.following?(follower) %>
              <p><%= link_to 'Unfollow', unfollow_user_path(:id => follower.id), class: "btn btn-primary" %></p>
            <% elsif  %>
              <p><%= link_to 'Follow', follow_user_path(:id => follower.id), class: "btn btn-primary" %></p>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to followers_path(:id => follower.id) do %>
          <div class="stat-left">
            <small>Followers</small>
            <h4><%= @user.followers.count %></h4>
          </div>
        <% end %>
        <%= link_to following_path(:id => follower.id) do %>
          <div class="stat-center">
            <small>Following</small>
            <h4><%= @user.follow_count %></h4>
          </div>
        <% end %>
        <div class="stat-right">
          <small>Ratio</small>
          <h4><%= follower.ratio %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>