<div class="clear"></div>
<div id="user-stats">
  <h1><%= @user.username %>'s profile</h1>

  <% if @user.id == session[:user_id] %>
    <p>This is your profile</p>
  <% else %>
    <% if current_user %>
      <% if current_user.following?(@user) %>
        <p><%= link_to 'Unfollow', unfollow_user_path %></p>
      <% elsif  %>
        <p><%= link_to 'Follow', follow_user_path %></p>
      <% end %>
    <% end %>
  <% end %>

  <div id="stat-left">
    <small>Followers</small>
    <h4><%= @user.followers.count %></h4>
  </div>
  <div id="stat-center">
    <small>Following</small>
    <h4><%= @user.follow_count %></h4>
  </div>
  <div id="stat-right">
    <small>Ratio</small>
    <h4><%= @ratio %></h4>
  </div>
</div>

<div id="user-feed">
  <h1>Feed</h1>
  <% if @user.posts.count > 0 %>
    <% @user.posts.reverse.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Posted on <%= post.created_at.strftime('%A, %B %e at %m:%M %p') %>.</h3>
        </div>
        <div class="panel-body">
          <p><%= post.text %>
            <% if @user == current_user %>
              <span> | <%= link_to("Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"}) %> </span></p>  
            <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>No posts.</h3>
  <% end %>
</div>