<div id="deck">
  <div id="deck-feed">
    <h1>Deck</h1>
    <h4><em>Posts from people you follow.</em></h4>

    <% if @posts.count > 0 %>
      <% @posts.reverse.each do |post| %>
        <% if current_user && current_user.following?(post.user) %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= link_to "@" + post.user.username, post.user %> | <span><%= link_to 'Unfollow', unfollow_user_path(:id => post.user.id), class: "btn btn-default btn-xs" %></span></h3>
            </div>
            <div class="panel-body">
              <p><%= post.text %>
                <% if @user == current_user %>
                  <span> | <%= link_to("Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"}) %> </span></p>  
                <% end %>
              <p><small><em>Posted on <%= post.created_at.strftime('%A, %B %e at %m:%M %p') %>.</em></small></p>
            </div>
          </div>
        <% end %>
      <% end %>

    <% else %>
      <h3>No posts.</h3>
    <% end %>
  </div>
</div>